Repository My-Epitech-Organisation/Area, pull requests merged in 2025-10, with the labels that each got.

#101 Add(docker): initial docker docker compose environment
  .dart_tool/package_config.json
  .dart_tool/package_config_subset
  .dart_tool/version
  .env.example
  .gitignore
  Makefile
  README.md
  backend/.dockerignore
  backend/.flake8
  backend/Dockerfile
  backend/README-DOCKER.md
  backend/area_project/__init__.py
  backend/area_project/asgi.py
  backend/area_project/celery.py
  backend/area_project/health.py
  backend/area_project/routing.py
  backend/area_project/settings.py
  backend/area_project/urls.py
  backend/docker/entrypoint.sh
  backend/requirements-dev.txt
  backend/requirements.txt
  docker-compose.yml
  docs/docker-compose.md
  docs/sql_guide.md
  frontend/Dockerfile
  frontend/nginx.conf
  mobile/Dockerfile
  mobile/android/gradle/wrapper/gradle-wrapper.properties
  mobile/android/settings.gradle
Labels: docker

#105 26 task frontend react auth pages loginregister
  .github/workflows/ci.yml
  frontend/src/components/navbar.tsx
  frontend/src/index.css
  frontend/src/pages/login.tsx
  frontend/src/pages/signup.tsx
  frontend/src/utils/parseErrors.ts
Labels: feature, design, react, ui

#108 27 task frontend react dashboard
  .env.example
  .github/workflows/ci.yml
  Makefile
  docker-compose.override.yml
  docker-compose.yml
  frontend/Dockerfile.dev
  frontend/Dockerfile.prod
  frontend/src/App.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/dashboard/KPIPlaceHolder.tsx
  frontend/src/components/dashboard/ServiceCard.tsx
  frontend/src/components/dashboard/ServiceDetails.tsx
  frontend/src/components/dashboard/ServiceList.tsx
  frontend/src/components/dashboard/ServiceSelector.tsx
  frontend/src/components/dashboard/UserGreeting.tsx
  frontend/src/components/index.ts
  frontend/src/data/mockServices.ts
  frontend/src/data/mockUser.ts
  frontend/src/pages/Homepage.tsx
  frontend/src/pages/dashboard.tsx
  frontend/src/styles/dashboard/dashboard.css
  frontend/src/types/index.ts
  frontend/src/utils/helper.ts
Labels: react, web

#107 Add Google Sign-In and OAuth Improvements with Mobile Deep Linking and Configuration Updates
  .gitignore
  backend/area_project/settings.py
  backend/area_project/settings/base.py
  backend/requirements.txt
  backend/users/oauth/google_signin.py
  backend/users/oauth/manager.py
  backend/users/urls.py
  mobile/.env.example
  mobile/.gitignore
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/assets/google_logo.png
  mobile/ios/Runner/Info.plist
  mobile/lib/config/api_config.dart
  mobile/lib/config/app_config.dart
  mobile/lib/config/google_signin_config.dart
  mobile/lib/config/service_provider_config.dart
  mobile/lib/main.dart
  mobile/lib/models/service_token.dart
  mobile/lib/pages/edit_applet_page.dart
  mobile/lib/pages/forgot_password_page.dart
  mobile/lib/pages/login_page.dart
  mobile/lib/pages/reset_password_page.dart
  mobile/lib/pages/service_connections_page.dart
  mobile/lib/pages/splash_page.dart
  mobile/lib/pages/user_page.dart
  mobile/lib/providers/app_state.dart
  mobile/lib/providers/applet_provider.dart
  mobile/lib/providers/auth_provider.dart
  mobile/lib/providers/provider_manager.dart
  mobile/lib/providers/providers.dart
  mobile/lib/providers/service_catalog_provider.dart
  mobile/lib/providers/user_provider.dart
  mobile/lib/services/api_service.dart
  mobile/lib/services/applet_service.dart
  mobile/lib/services/auth_service.dart
  mobile/lib/services/cache_service.dart
  mobile/lib/services/http_client_service.dart
  mobile/lib/services/oauth_service.dart
  mobile/lib/services/service_catalog_service.dart
  mobile/lib/services/services.dart
  mobile/lib/services/token_service.dart
  mobile/lib/services/user_service.dart
  mobile/lib/swipe_navigation_page.dart
  mobile/lib/utils/oauth_deep_link_handler.dart
  mobile/lib/widgets/connected_services_widget.dart
  mobile/lib/widgets/google_sign_in_button.dart
  mobile/linux/flutter/generated_plugin_registrant.cc
  mobile/linux/flutter/generated_plugins.cmake
  mobile/macos/Flutter/GeneratedPluginRegistrant.swift
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/test/oauth_models_test.dart
  mobile/windows/flutter/generated_plugin_registrant.cc
  mobile/windows/flutter/generated_plugins.cmake
Labels: flutter, user-management, auth, mobile

#111 Fix(backend) init services
  .gitignore
  Makefile
  backend/automations/management/commands/__init__.py
  backend/automations/management/commands/init_services.py
  backend/automations/tests/test_init_services_command.py
  backend/docker/entrypoint.sh
Labels: backend, django, action-reaction, api

#110 28 feature frontend react service page gmail component
  backend/automations/management/commands/init_services.py
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/index.css
  frontend/src/pages/Areaction.tsx
  frontend/src/pages/Homepage.tsx
  frontend/src/pages/serviceDetail.tsx
  frontend/src/pages/services.tsx
  frontend/tailwind.config.js
Labels: feature, design, react, ui

#112 feat(docs): add contribution guide for AREA project
  HOWTOCONTRIBUTE.md
Labels: documentation

#117 Fix(CI): Add modification to include the linter and tester utils
  .github/workflows/ci.yml
  backend/area_project/settings/base.py
  backend/automations/tests/test_tasks.py
  backend/automations/tests/test_views.py
  backend/automations/views.py
  backend/requirements-dev.txt
  mobile/lib/config/api_config.dart
  mobile/lib/config/app_config.dart
  mobile/lib/config/google_signin_config.dart
  mobile/lib/home_page.dart
  mobile/lib/main.dart
  mobile/lib/models/service_token.dart
  mobile/lib/pages/create_applet_page.dart
  mobile/lib/pages/forgot_password_page.dart
  mobile/lib/pages/login_page.dart
  mobile/lib/pages/reset_password_page.dart
  mobile/lib/pages/service_connections_page.dart
  mobile/lib/pages/user_page.dart
  mobile/lib/providers/applet_provider.dart
  mobile/lib/providers/auth_provider.dart
  mobile/lib/providers/provider_manager.dart
  mobile/lib/providers/user_provider.dart
  mobile/lib/services/applet_service.dart
  mobile/lib/services/auth_service.dart
  mobile/lib/services/cache_service.dart
  mobile/lib/services/http_client_service.dart
  mobile/lib/services/oauth_service.dart
  mobile/lib/services/service_catalog_service.dart
  mobile/lib/services/token_service.dart
  mobile/lib/utils/oauth_deep_link_handler.dart
  mobile/lib/widgets/connected_services_widget.dart
  mobile/lib/widgets/create_applet/action_config_card.dart
  mobile/lib/widgets/create_applet/automation_details_card.dart
  mobile/lib/widgets/create_applet/trigger_config_card.dart
  mobile/lib/widgets/google_sign_in_button.dart
  mobile/scripts/lint-check.sh
  mobile/scripts/lint-fix.sh
  mobile/test/navigation_provider_test.dart
  mobile/test/widget_test.dart
Labels: flutter, ci

#118 Services Discovery and Listing
  mobile/lib/config/api_config.dart
  mobile/lib/home_page.dart
  mobile/lib/main.dart
  mobile/lib/models/service.dart
  mobile/lib/pages/service_details_page.dart
  mobile/lib/pages/services_page.dart
  mobile/lib/providers/service_catalog_provider.dart
  mobile/lib/services/service_catalog_service.dart
  mobile/lib/utils/service_icons.dart
  mobile/lib/widgets/action_reaction_widgets.dart
  mobile/lib/widgets/list_widgets.dart
  mobile/lib/widgets/search_bar_widget.dart
  mobile/lib/widgets/service_card.dart
  mobile/lib/widgets/service_header_card.dart
  mobile/lib/widgets/state_widgets.dart
  mobile/lib/widgets/widgets.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/test/service_card_test.dart
  mobile/test/service_catalog_provider_test.dart
  mobile/test/service_catalog_provider_test.mocks.dart
  mobile/test/service_icons_test.dart
  mobile/test/service_models_test.dart
  mobile/test/state_widgets_test.dart
Labels: flutter, mobile
